* {
  padding: 0px;
  margin: 0px;
}

:root {
  ---pr: #e1f7f5;
  ---se: #9ac8cd;
  ---tr: #0e46a3;
  ---fr: #1e0342;
  ---tx1: #3b0681;
  ---tx2: #1e0342;
}


body {
    /* background-color: var(---tx2); */
}