/* src/App.css */
.app-container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 100vh;
  background-color: #f7f9fc;
}

.login-container {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  margin-top: 90px;
  margin-left: 20px;
  background-color: transparent;
  border-radius: 15px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0E46A3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0C3D8A;
}

.error-message {
  color: #f44336;
  margin-bottom: 10px;
  text-align: center;
}

.image-container {
  flex: 0 0 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
